<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="rping" connectionString="Data Source=RPING; Initial Catalog= TropicalServer;  Integrated Security = true;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="XYZ">
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <services>
      <service name ="WcfServiceTablet.Service1" behaviorConfiguration ="XYZ">
        <endpoint address="Service1" binding="basicHttpBinding" contract ="WcfServiceTablet.IService1">
</endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange">
          
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:52689/WcfServiceTablet"/>
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>