<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="TropicalServerConnectionString" value="Initial Catalog=TropicalServer;Data Source=CAMARGUE\SQLEXPRESS;Integrated Security=true;" />
  </appSettings>
  
  <connectionStrings>
    <add name="rping" connectionString="Data Source=RPING; Initial Catalog= TropicalServer;  Integrated Security = true;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      
      <forms loginUrl="~/UI/UserLogin.aspx" timeout="15" defaultUrl="~/UI/Products.aspx" />
    </authentication>
    <authorization>
      <deny users="?" />
    </authorization>

  <pages>

    <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls></pages></system.web>
  <location path="UI/ForgetPassword.aspx">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="UI/Orders2.aspx">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="autoCompleteSoap" />
        <binding name="BasicHttpBinding_IService1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:60944/autoComplete.asmx"
        binding="basicHttpBinding" bindingConfiguration="autoCompleteSoap"
        contract="ServiceReference1.autoCompleteSoap" name="autoCompleteSoap" />
      <endpoint address="http://localhost:52689/WcfServiceTablet/Service1"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService1"
        contract="ServiceReference2.IService1" name="BasicHttpBinding_IService1" />
    </client>
  </system.serviceModel>
</configuration>
